* {
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: whitesmoke;
    padding: 50px;
    border: 3px solid black;
    border-radius: 8px;
}

body {
    background-color: #004a8d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    cursor: pointer;
}
